header.navbar {
  background-color: #523880;
}

header.hero > img {
  border-radius: 4px;
}

.navbar .links {
  background-color: #523880 !important;
}

.custom-block.tip {
  border-color: #523880;
}

